In [62]:
import pandas as pd
import blosum as bl
matrix = bl.BLOSUM(62)

In [49]:
# Define the sequences
human = "MVHLTPEEKSAVTALWGKVNVDEVGGEALGRLLVVYPWTQRFFESFGDLSTPDAVMGNPKVKAHGKKVLGAFSDGLAHLDNLKGTFATLSELHCDKLHVDPENFRLLGNVLVCVLAHHFGKEFTPPVQAAYQKVVAGVANALAHKYH"
chicken = "MVHWTAEEKQLITGLWGKVNVAECGAEALARLLIVYPWTQRFFASFGNLSSPTAILGNPMVRAHGKKVLTSFGDAVKNLDNIKNTFSQLSELHCDKLHVDPENFRLLGDILIIVLAAHFSKDFTPECQAAWQKLVRVVAHALARKYH"

In [51]:
def matching_pentapeptides(seq1,seq2):
    data_cr  = pd.DataFrame()
    seq = [];
    human_occ = [];
    chicken_occ = [];
    for i in range(len(seq1) - 6):
        k = 0
        m = 0
        if seq1[i:i+5] in seq2:
            k = seq1.count(seq1[i:i+5])
            m = seq2.count(seq1[i:i+5])
            if seq.count(seq1[i:i+5]) < 1:
                seq.append(seq1[i:i+5])
                human_occ.append(k)
                chicken_occ.append(m)
        if seq2[i:i+5] in seq1:
            if seq.count(seq2[i:i+5]) < 1: 
                k = seq1.count(seq2[i:i+5])
                m = seq2.count(seq2[i:i+5])
                seq.append(seq2[i:i+5])
                human_occ.append(k)
                chicken_occ.append(m)        
    
    data_cr['seq']=seq
    print(seq)
    data_cr['human']=human_occ
    data_cr['chicken']=chicken_occ
    return data_cr;

In [105]:
matching_pentapeptides(human,chicken)

['LWGKV', 'WGKVN', 'GKVNV', 'VYPWT', 'YPWTQ', 'PWTQR', 'WTQRF', 'TQRFF', 'AHGKK', 'HGKKV', 'GKKVL', 'LSELH', 'SELHC', 'ELHCD', 'LHCDK', 'HCDKL', 'CDKLH', 'DKLHV', 'KLHVD', 'LHVDP', 'HVDPE', 'VDPEN', 'DPENF', 'PENFR', 'ENFRL', 'NFRLL', 'FRLLG']

      seq  human  chicken
0   LWGKV      1        1
1   WGKVN      1        1
2   GKVNV      1        1
3   VYPWT      1        1
4   YPWTQ      1        1
5   PWTQR      1        1
6   WTQRF      1        1
7   TQRFF      1        1
8   AHGKK      1        1
9   HGKKV      1        1
10  GKKVL      1        1
11  LSELH      1        1
12  SELHC      1        1
13  ELHCD      1        1
14  LHCDK      1        1
15  HCDKL      1        1
16  CDKLH      1        1
17  DKLHV      1        1
18  KLHVD      1        1
19  LHVDP      1        1
20  HVDPE      1        1
21  VDPEN      1        1
22  DPENF      1        1
23  PENFR      1        1
24  ENFRL      1        1
25  NFRLL      1        1
26  FRLLG      1        1

In [54]:
def seq_identity(seq1,seq2):
    k = 0;
    for x in range(len(seq1)):
        if seq1[x] == seq2[x]:
            k +=1;
    return ((k/len(seq1))*100);

In [106]:
def seq_similarlity(seq1,seq2,matrix):
    k = 0;
    for (x, y) in zip(seq1, seq2):
        if matrix[x+y] > 0 :
            k +=1;
    return ((k/len(seq1))*100);

In [117]:
def query_coverage(seq1,seq2):
    human = 0;
    chicken = 0;
    h_query = 0;
    c_query = 0;
    human = seq1.count('-')
    chicken = seq2.count('-')
    h_query = (((len(seq1) - human )/len(seq1))*100)
    c_query = (((len(seq1) - chicken )/len(seq1))*100)
    print("query_coverage for human is: ",h_query)
    print("query_coverage for chicken is: ",c_query)
    return ;

In [111]:
def gap_percentage(seq1,seq2):
    human = 0;
    chicken = 0;
    human = seq1.count('-')
    chicken = seq2.count('-')
    return (((human+chicken)/len(seq1))*100);

In [107]:
seq_identity(human,chicken)

69.38775510204081

In [108]:
seq_similarlity(human,chicken,matrix)

82.31292517006803

In [112]:
gap_percentage(human,chicken)

0.0

In [118]:
query_coverage(human,chicken)

query_coverage for human is:  100.0
query_coverage for chicken is:  100.0